# dotenv environment variables file
.env
.env.local
.env.production

# Dependency directories
node_modules/

# build output
/dist

# IDE config
.idea

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
